#layout {
    /* background-color: rgba(255, 255, 255, 0.1); */
    padding: var(--layout-padding);
    flex-direction: var(--layout-flex-direction);

    display: flex;
    justify-content: center;
    gap: 50px;

    border: 3px solid white;
}
body {
    @media (min-aspect-ratio: 4/9) and (max-aspect-ratio: 7/9) and (min-width: 768px) {
        --layout-flex-direction: column;
    }

    padding: var(--root-padding);
    min-height: var(--root-min-height);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: padding 0.2s;
    @media (max-width: 768px) {
        --root-padding: 0.2rem;
        --root-min-height: 100vh;
        --layout-padding: 1rem;
        --layout-flex-direction: column;
    }

    @media (min-width: 768px) {
        --root-padding: 2rem;
        --root-min-height: unset;
        --layout-padding: 2rem;
        --layout-flex-direction: row;
    }
}
